<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="navbar.css">
    <style>
            * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            }

            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
            }

            .navbar {
                background-color: #333;
                padding: 10px;
                text-align: center;
            }

            .navbar ul {
                list-style-type: none;
            }

            .navbar ul li {
                display: inline;
                margin: 0 15px;
            }

            .navbar ul li a {
                color: white;
                text-decoration: none;
                font-size: 16px;
            }

            .navbar ul li a:hover {
                color: #ff6347;
            }

            .navbar ul li a i {
                margin-right: 8px;
            }

    </style>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/secret"><i class="fas fa-home"></i> Secret</a></li>
            <li><a href="/logout?logoutOption=allDevice"><i class="fas fa-sign-in-alt"></i> Logout all</a></li>
            <li><a href="/logout?logoutOption=currentDevice"><i class="fas fa-sign-in-alt"></i> Logout this</a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            <li><a href="/register"><i class="fas fa-user-plus"></i> Register</a></li>
        </ul>
    </nav>
</body>
</html>
